<% title(@project.name, "Projects") %>
<% header_title(@project.name) %>

<% content_for :functionality do %>
  <%= authorized?("create tickets".to_sym, @project) do %>
    <%= link_to "New Ticket", new_project_ticket_path(@project), :class => 'btn btn-success' %>
  <% end %>
  <%= admins_only do %>
    <%= link_to "Edit Project", edit_project_path(@project), :class => 'btn btn-primary' %>
    <%= link_to "Delete Project", @project, :method => :delete, :confirm => "Are you sure you want to delete this project?", :class => 'btn btn-danger' %>
  <% end %>
<% end %>

<ul id='tickets'>
  <% @project.tickets.each do |ticket| %>
    <li>
      <%= render ticket.state if ticket.state %>
      #<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
    </li>
  <% end %>
</ul>
