<% title("States", "Admin Lounge") %>
<% header_title("States") %>

<% content_for :functionality do %>
  <%= link_to "New State", new_admin_state_path, :class => 'btn btn-success' %>
  <%= back_button("Admin Lounge", admin_root_path) %>
<% end %>

<ul class='nav nav-pills nav-stacked' id='states'>
  <% for state in @states %>
    <li id='state_<%= state.id %>' class='state-pill'>
      <p>
        <%= state.name %>
      </p>
      <%= link_to "Make default", make_default_admin_state_path(state) %>
    </li>
  <% end %>
</ul>
