<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Ticketee
      <% end %>
    </title>
    <%= stylesheet_link_tag    "application" %>
    <style>
      <% for state in @states %>
        .state_<%= state.name.parameterize %> {
          background: <%= state.background %>;
          color: <%= state.color %>;
        }
      <% end %>
    </style>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/topnav' %>
    <div id="main-section-wrapper" class="container">
      <%= render "shared/page_header" %>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
